@import 'src/NationalParks/styles/colors.scss';

.parkDetails {
  margin: 1em 1.5em;
  padding: 0.5em;
  text-align: center;
  background-color: $lighterblue;

  h2 {
    margin: 0;
  }

  .gradient--text {
    color: $oceanbluepearl;
    text-decoration-color: $oceanbluepearl;

    &:hover,
    &:focus {
      background: -webkit-gradient(linear, left  top, right top, from($oceanbluepearl), to($cyan));
      background: linear-gradient(90deg, $oceanbluepearl, $cyan);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      -webkit-box-decoration-break: clone;
      box-decoration-break: clone;
      text-shadow: none;
      text-decoration-color: $grey;
    }
  }

  img {
    height: 300px;
  }
}
