.nationalParks--header {
  margin: 2em;
}

h1 {
  color: #3A5BC6;
}

img {
  margin: 0 2em;
}

.srOnly {
  font-size: 1px;
  color: white;
  color: transparent;
}

.flexBox {
  display: flex;
}

.flexBox--justifyCenter {
  display: flex;
  justify-content: center;
}

.stateForm {
  flex-direction: column;
}
